#RiderC#
.idea/
*.*.iml
VKM.Admin/App_Data/db.db
VKM.Admin/bin/
VKM.Admin/obj/
/.vs
/VKM.Admin/Properties/launchSettings.json
/VKM.Admin/VKM.Admin.csproj.user
/VKM.Admin/App_Data/bak
/VKM.Admin/Properties/PublishProfiles/CustomProfile.pubxml.user
/VKM.Admin/Properties/PublishProfiles/CustomProfile.pubxml
