@model IEnumerable<VKM.Admin.Models.Database.Team>
@{
    ViewData["Title"] = "Администраторская";
}
<div class="border">
    <div id="BaseTree">
        <ul>
            @foreach (var team in Model)
            {
                <li>@team.Number
                    <ul>
                        @foreach (var student in team.Students)
                        {
                            <li>@student.FullName</li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>
