@{
    ViewData["Title"] = "Home Page";
}
<div class="border">
    <div id="BaseTree">
        <ul>
            <li>Root node 1
                <ul>
                    <li id="child_node_1">Child node 1</li>
                    <li>Child node 2</li>
                </ul>
            </li>
            <li>Root node 2</li>
        </ul>
    </div>
    </div>
