@model IEnumerable<VKM.Admin.Models.Database.Team>
@{
    ViewData["Title"] = "Администраторская";
}
    <div class="row">
        <div class="col">
            <div class="border">
                <div id="BaseTree">
                    <ul>
                        @foreach (var team in Model)
                        {
                            <li data-jstree='{ "type" : "team"}'>@team.Number взвод
                                <ul>
                                    @foreach (var student in team.Students)
                                    {
                                        <li data-jstree='{ "type" : "student"}'>@student.FullName</li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row w-75">
            <div class="col-12 border">
                <h2 id="SelectedStudent"></h2>
            </div>
            <div class="col-4 border">
                CurrentStudentData
            </div>
            <div class="col-8 border">
                CurrentStudentHistory
            </div>
        </div>
    </div>
